<h1>Transactions</h1>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.t_type %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.created_on %></td>
      </tr>
    <% end %>
  </tbody>
</table>
